/*----------------------------------------------
    ## Banner
----------------------------------------------*/
#fp-nav {
    top: 96%;
    left: 45px;
    right: auto;
    display: block !important;
    background-image: url("../../assets/img/banner/3.png") !important;
    z-index: 9999;
    background-size: cover;
    height: 57px;
    width: 57px;
    ul {
        li {
            position: absolute;
            .fp-tooltip {
                display: none;
            }
            a {
                list-style: decimal !important;
                display: list-item;
                content: '1';
                opacity: 0;
                visibility: hidden;
                font-size: 12px;
                font-weight: 900;
                left: 31px;
                top: 14px;
                color: #05203D;
                span {
                    display: none;
                }
                &.active {
                    visibility: visible;
                    opacity: 1;
                } 
            }
        }
    }
}

#section1 {
    position: relative;
    .banner-shape-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 56%;
    }
    .banner-shape-2 {
        position: absolute;
        right: 0;
        top: -130px;
        width: 46%;
    }
}
.banner-area {
    padding: 0 85px;
}

.banner-inner-wrap {
    h4 {
        font-size: 24px;
        line-height: 33.38px;
        font-weight: 800;
        letter-spacing: 2px;
    }
    p {
        margin-bottom: 18px;
    }
    h2 {
        font-size: 72px;
        letter-spacing: 3px;
        padding-top: 20px;
        span {
            font-size: 36px;
        }
    }
}
.banner-social {
    position: fixed;
    min-width: 195px;
    transform: rotate(-90deg);
    bottom: 160px;
    left: -25px;
    z-index: 3;
    span {
        display: inline-block;
        float: left;
        color: #05203D;
        font-weight: 500;
        font-size: 9.67px;
        font-family: 'Roboto Mono', monospace;
        padding-top: 4px;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-left: 14px;
            a {
                color: #05203D;
                font-weight: 500;
                font-size: 16px;
                i {
                    font-weight: 900;
                    transform: rotate(90deg);
                }
            }
        }
    }
}
